.card-style{
    border: 10px solid;
    

    border-image:linear-gradient(blue,cyan)!important ;
    border-image-slice: 1  !important;
    transition: transform 250ms;

}
.card-style:hover{
    transform: translateY(-10px) !important;

}

.card-body-style{
    background-color: gray;
    color: white;
}
.btn-style{
    color: white;
    background-color: tomato;
}
.card-title{
    background-color: salmon;
}